<html>
<head><Title>Music + Weather</Title>
</head>
<div>
<link href="css/results.css" rel="stylesheet" type="text/css"/>

<style type="text/css"> html, body { height: 100%; margin: 0; padding: 0; }
</style>

<div class="header">
  <h1>Mood & Weather Analysis with Music</h1>
  <p>How does the weather affect your music listening habits?</p>
</div>

<div id="menu">
    <a href=" "><img style="height: 30px; width: 30px" src="assets/home.png"></a>
    <a href="/about"><img style="height: 33px; width: 33px" src="assets/info.png"></a>
</div>
<!--sticky menu from w3schools.com-->
<script>
window.onscroll = function() {stickyFunction()};
let menu = document.getElementById("menu");
let positionMoved = menu.offsetTop;
function stickyFunction() {
  if (window.pageYOffset >= positionMoved) {
    menu.classList.add("fixAtTop")
  } else {
    menu.classList.remove("fixAtTop");
  }
}
</script>
<div class="header2" style="padding-top: 50px">
   <br>
  <h1>Results for {{username}}: your top artists by weather</h1>
    <br>
</div>
<div class = "body">
 {% for key, value in top5.items() %}
    <div style="padding-bottom: 250px">
        <div style="float: left">
   		<img src = "{{key}}" alt="icon" width="220" height="220"/>
        </div>
        <div style="float: left; margin-right: 3.5px">
        {% for artist in value.images[0:1]%}
            <img src = "{{artist}}" alt="artist" width="205" height="205"/>
        {% endfor %}
        </div>
        <div style="float: left">
        {% for artist in value.images[1:3]%}
            <img src = "{{artist}}" alt="artist" width="100" height="100"/>
        {% endfor %}
            <br>
        {% for artist in value.images[3:]%}
            <img src = "{{artist}}" alt="artist" width="100" height="100"/>
        {% endfor %}
        </div>
        <div style="float: left; margin-left: 40px">
         {% for artist, link in value.artists%}
            <div >
                <a href = {{link}}>{{artist}}</a>
            </div>
            <br>
        {% endfor %}
        </div>
     </div>
    <br clear="all" />
{% endfor %}
</div>
<br clear="all" />

</body>
<footer>
    <!--Background pattern from Toptal Subtle Patterns-->
    <div style = "float: right">
  <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&copy 2019 Niamh Froelich &nbsp&nbsp&nbsp&nbsp</p>
  </div>
    <div style = "text-align: center; float:right">
        <h1>Weather & Mood Analysis with Music</h1>
    </div>
</footer>

</html>
